nav {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

body {
    background-color: rgb(100, 116, 139);
    color: rgb(210, 210, 210);
    font-size: 15px;
    font-style: italic;
    font-family: URW Gothic, monospace;
}

::placeholder {
    font-style: italic;
    color: maroon;
}
.card {
    width: 500px;
    height: auto;
    background-color: gray;
    border: 1px solid rgb(12, 74, 110);
    margin: 0 auto;
}